@import "base/variables";

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;



//Nav Bar

// Top bar background color
$topbar-bg-color: #fff;
$topbar-bg: $topbar-bg-color;

.menu-text {
  color: $white;
  font-size: 40px;
}

.home-banner {
  width: 90%;
  max-height: 300px;
}

.page-title {
  padding-top: 100px;
}

html, body {
  background-color: $dark-gray;
  color: #2ba6cb;
}

#app {
  height: 90%;
}

.main, .wrapper {
  height: 100%;
  background-color: $dark-gray;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.banner-container {
  flex: 2;
}

.announcements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;;
  flex: 9;
  margin-top: 20px;
  margin: 100px;
  background-color: $grey;
  border-radius: 5px;
  min-height:40%;
  overflow-y: scroll;
}

.announcements-container > div {
  flex: 1;
  border: 1px solid $grey;
  border-radius: 5px;
  width: 100%;
  align-items: center;
  cursor: cell;
  display: flex;
  padding: 1rem;
  transition: background .3s ease;
  border-bottom: 1px solid #2ba6cb;


  &:hover {
    background: $white;
    color: black;
  }
}

.home-bottom-container {
  color: $white;
  display: flex;
  width: 100%;
  align-items: stretch;
  flex: 2;
}

.home-bottom-left {
  flex: 1;
}

#leftImage, #middleImage, #rightImage {
  display: block;
  margin: auto;
  height: auto;
  max-height: 100%;

  width: auto;
  width: 100%;
}

.home-bottom-middle {
  flex: 2;
}

.home-bottom-right {
  flex: 1;
}

.footer {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.footer > div {
  flex: 1;
  text-align: center;
}




// Components
