@import "base/variables";

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;



//Nav Bar

// Top bar background color
.top-bar, .top-bar-left, .top-bar-right {
  background-color: #009688;
}

.menu-text {
  color: $white;
}

html, body, #app, .main {
  height: 100%;
  background-color: #FFFFFF;
  color: #212121;
}

// Home Container
.home-container {
  display: flex;
  display:-webkit-flex;
  flex-direction: column;
  height: 90%;
}

.banner-container {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  background-color: #009688;
}

.home-body {
  display: flex;
  display:-webkit-flex;
  flex-direction: row;
}

.link-panel-container {
  display: flex;
  display:-webkit-flex;
  flex-direction: column;
  flex: 1;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.link-group {
  display: flex;
  display:-webkit-flex;
  flex-direction: row;
}

.link-images-container {
  overflow-y:auto;
  flex-direction: column;
  flex: 2;
}

.link-images-container > div {
  flex: 1;
}

.announcements-container {
  display: flex;
  display:-webkit-flex;
  flex-direction: column;
  flex: 3;
  margin-top: 2rem;
  margin-right: 2rem;
  background-color: #009688;



  h1 {
    text-align: center;
  }

  >div>div {
    border: 1px solid #BDBDBD;
    border-radius: 5px;
  }
}

.announcements-list {
  overflow-y: auto;
  background-color: #FFFFFF;


}

.announcement-title {
  color: #FFFFFF;
}

.announcements-list > div {
  color: #212121;
  transition: background .3s ease;

  &:hover {
    background: #B2EBF2;

  };

}

//People
.people-container {
  display: flex;
  display:-webkit-flex;
  flex-direction: column;
  height: 90%;
  background-color: #FFFFFF;
  color: #FFFFFF;
}

.family-nav-buttons {
  display: flex;
  display:-webkit-flex;
  flex-direction: row;
  justify-content: space-around;
}

.family-container {

  flex: 1;
  background-color: #009688;
  margin: 2rem;
}

.tree-container {
  display: flex;
  display:-webkit-flex;
  flex-direction: column;
  height: 100%;
}

.family-title {
  text-align: center;
}

.rbl-tree, .lg-tree, .accident-tree, .event-tree {
  flex: 1;
  background-color: #B2EBF2;
  margin: 1rem;
  color: #212121;
}


.footer {
  display: flex;
  display:-webkit-flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-text {
  color: #212121;
}

//About
.about {
  display: flex;
  display:-webkit-flex;
  flex-direction: column;;
  height: 90%;
}

.about-title {

  h1 {
    text-align: center;
  }
}

.about-container {
  display: flex;
  display:-webkit-flex;
  flex-direction: row;
  background-color: #009688;
  flex: 1;
  margin: 2rem;
  overflow-y: scroll;
}

.board-container {
  display: flex;
  display:-webkit-flex;
  flex-direction: column;
  flex: 2;
  padding: 1rem;

  h4 {
    text-align: center;
    color: #ffffff;
  }
}

.about-text-container {
  flex: 1;
  background-color: #B2EBF2;
}

.board-container1 {
  display: flex;
  display:-webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.boards {
  flex: 1;
  img {
    display: block;
    margin: auto;
    height: 150px;
    width: 150px;
  }
}

.board-container2 {
  display: flex;
  display:-webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.about-name {
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  color: #ffffff;
  font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}

.about-position {
  text-align: center;
  color: hsl(80, 70%, 35%);
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  font: 1em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}


//TreeLayout
#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#eat {
  position: absolute;
  left: 1em;
  top: 1em;
  font-size: 1em;
  z-index: -1;
  color: #c88;
}


// .home-banner {
//   width: 90%;
//   max-height: 300px;
// }
//
//
// html, body {
//   background-color: #ffe6cc;
//   color: #574e42;
//
// }
//
// #app {
//   height: 90%;
// }
//
// .main, .wrapper {
//   height: 100%;
//   background-color: #ffe6cc;
// }
//
// .home-container {
//   display: flex;
//   flex-direction: column;
//   height: 100%;
//
// }
//
// .banner-container {
//   flex: 2;
// }
//
// .announcements-container {
//   flex-direction: column;
//   flex: 9;
//   margin: 100px;
//   margin-top: 0;
//   margin-bottom: 10px;
//   background-color: 	#e9e6e2;
//   border-radius: 5px;
//   min-height:40%;
//   overflow-y: scroll;
// }
//
// .announcements-container > div {
//   flex: 1;
//   border: 1px solid $grey;
//   border-radius: 5px;
//   width: 100%;
//   align-items: center;
//   cursor: cell;
//   display: flex;
//   padding: 1rem;
//   transition: background .3s ease;
//   border-bottom: 1px solid #2ba6cb;
//
//
//   &:hover {
//     background: $white;
//     color: black;
//     font-weight: bold;
//   }
// }
//
// .home-bottom-container {
//   color: $white;
//   display: flex;
//   width: 100%;
//   align-items: stretch;
//   flex: 2;
// }
//
// .home-bottom-left {
//   flex: 1;
// }
//
// #leftImage, #middleImage, #rightImage {
//   display: block;
//   margin: auto;
//   height: auto;
//   max-height: 100%;
//
//   width: auto;
//   width: 100%;
// }
//
// .home-bottom-middle {
//   flex: 2;
// }
//
// .home-bottom-right {
//   flex: 1;
// }
//
// .footer {
//   display: flex;
//   flex-direction: row;
//   flex: 1;
// }
//
// .footer > div {
//   flex: 1;
//   text-align: center;
// }
//
// .announce-container {
//   display: flex;
//   flex-direction: column;
// }
//
// .announce-text {
//   flex: 4;
// }
//
// .announce-date {
//   flex: 1;
// }
//
//
// // Components
// //People
// .people-container {
//   display: flex;
//   flex-direction: column;
//   align-items: stretch;
//   height: 100%;
// }
//
// .nav-buttons {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   align-items: stretch;
// }
//
// .nav-buttons > div {
//   flex: 1
// }
//
// .family-container {
//   height: 100%;
// }
